<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andlp.musicplayer">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="20"  />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MyApp"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Activity_Welcome"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Activity_Main"/>
        <activity android:name=".activity.Activity_Group"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity android:name=".activity.Activity_Player"/>
        <service android:name=".service.Service_Play"/>
         <receiver android:name=".service.Receiver_Notifi">
             <intent-filter>
                 <action android:name="com.andlp.action.play" />
                 <action android:name="com.andlp.action.left" />
                 <action android:name="com.andlp.action.right" />
                 <action android:name="com.andlp.action.exit" />
                 <action android:name="com.andlp.action.other" />
                 <action android:name="com.andlp.action.open" />
             </intent-filter>
         </receiver>

    </application>

</manifest>